.element {
  background-color: #0000FF;
}

.bottom_right {
  width: 15px;
  height: 15px;
  position: absolute;
  cursor: pointer;
  background-size: 15px;
  background-image: url("../../assets/resize_icon.png");
  background-repeat: no-repeat;
  left: 100%;
  top: 100%;
}
.rotate {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #03a9f7;
  top: -25px;
  left: calc(50% - 7px);
}
